<h2>人员登记系统</h2>

<div class="people_list">
    <ul>
        <!-- 普通 input 输入框 -->
        <li>姓名：
            <input type="text" [(ngModel)]="peopleInfo.username" class="form_input">
        </li>
        <!-- 单选框 -->
        <li>性别：
            <input type="radio" value="1" name="sex" id="sex1" [(ngModel)]="peopleInfo.sex"> <label for="sex1">男</label>
            <input type="radio" value="2" name="sex" id="sex2" [(ngModel)]="peopleInfo.sex"> <label for="sex2">女</label>
        </li>
        <!-- 下拉选择框 -->
        <li>城市：
            <select name="city" [(ngModel)]="peopleInfo.city">
                <option [value]="city" *ngFor="let city of peopleInfo.cities">
                    {{ city }}
                </option>
            </select>
        </li>
        <!-- 多选框 -->
        <li>爱好：
            <span *ngFor="let hobby of peopleInfo.hobbies;let key=index;">
                <input type="checkbox" [id]="'check' + key" [(ngModel)]="hobby.check">
                <label [for]="'check' + key">{{ hobby.title }}</label>
                &nbsp;&nbsp;
            </span>
        </li>
        <!-- 多行文本框 -->
        <li>备注：
            <textarea name="mark" id="mark" cols="30" rows="10" [(ngModel)]="peopleInfo.mark"></textarea>

        </li>
    </ul>

    <pre>
        {{ peopleInfo | json }}
    </pre>

    <button (click)="doSubmit()" class="submit">获取表单的值</button>
</div>